.header{
    padding: 10px 10px;
    background: gray;
}
.link{
    display: grid;
    grid-auto-flow: column;
    background: black;
    padding: 10px 10px;
    text-align: center;
    color: white;
    font-size: 50px;
}
.left{
    background: lightgray;
}
.center{
    display: grid;
    background: white; 
    /* grid-template-columns: 33% 67%; */
    grid-auto-flow: column;

}
.footer{
    background: gray;
    padding: 10px 10px;
}
.left
{
    background: lightgray;
}

h1{
    text-align: center;
}
.image{
    width: 100%;
    height: 200px;
    background: gray;
}
@media screen and (max-width: 700px) {
    .link {   
      grid-auto-flow: row;
    }
    .center
    {
        grid-auto-flow: row;
    }
}